<form name="verbform" action="" method="get">
  <table
 style="text-align: left; margin-left: auto; margin-right: auto;">
    <tbody>
      <tr>
        <td style="text-align: right;">النص</td>
        <td style="text-align: right;"><textarea name="text" cols=50 rows=5>
		رسالة الصالح أيوب إلى لويس التاسع
	

أما بعد فإنه وصل كتابك ، وأنت تهدد فيه بكثرة جيوشك وعدد أبطالك .

فنحن أرباب السيوف ، وما قتل منا قرن إلا جددناه ، ولا بغى علينا باغ إلا دمرناه .

فلو رأت عيناك - أيها المغرور - حد سيوفنا وعظم حروبنا ، وفتحنا منكم الحصون والسواحل ، وإخرابنا منكم ديار الأواخر والأوائل ، لكان لك أن على أناملك بالندم ، ولابد ان تزل بك القدم ، في يوم أوله لنا وآخره عليك .

فهناك تسيء بك الظنون ، ( وسيعلم الذين ظلموا أي منقلب ينقلبون ) .

فإذا قرأت كتابي هذا ، فكن فيه على أول سورة النحل : ( أتى أمر ا لله فلا تستعجلوه ) ، وكن على آخر سورة ص : ( ولتعلمن نبأه بعد حين ) .

ونعود إلى قول الله تبارك وتعالى ، وهو أصدق القائلين : ( كم من فئة قليلة غلبت فئة كثيرة بإذن الله والله مع الصابرين) .

وإلى قول الحكماء : " إن الباغي له مصرع " وبغيك يصرعك ، وإلى البلاء يقلبك ، والسلام .
		</textarea>
        <br/>
		<input type="checkbox" name="segmentation" value="A" checked/>تقطيع
		<input type="checkbox" name="dictionarybased" value="D" />البحث في القاموس
		<input type="checkbox" name="templatesearch" value="T" />تحديد الوزن
		<input type="checkbox" name="rootextraction" value="R" />استخراج الجذر		
		<input type="checkbox" name="debug" value="1" checked/>عرض النتائج التجريبية		
		<input value="حلل النص" type="submit"></td>
</tr>
      <tr>
        <td>نمط المخرجات
        <select name="display_format">
        <option value="HTML">HTML</option>
        <option value="XML">XML</option>
        <option value="CSV">CSV</option>
        <option value="TeX">TeX</option>
        </select>
        </td>
      </tr>
    </tbody>
  </table>
</form>