#container {
	-webkit-border-radius:24px;
	-moz-border-radius:24px;
	border-radius:24px;

	-webkit-box-shadow:0 0 8px 8px rgba(240,240,255,0.8);
	-moz-box-shadow:0 0 8px 8px rgba(240,240,240,0.8);

}
#banner {
	-webkit-border-radius:24px 24px 0 0;
	-moz-border-radius:24px 24px 0 0;
	border-radius:24px 24px 0 0;

	-webkit-box-shadow:inset 0 0 8px 4px rgba(255,255,255,0.5);
	-moz-box-shadow:inset 0 0 8px 4px rgba(255,255,255,0.5);
}

#footer {
	-webkit-border-radius:0 0 24px 24px;
	-moz-border-radius:0 0 24px 24px;
	border-radius:0 0 24px 24px;

	-webkit-box-shadow:inset 0 0 8px 4px rgba(255,255,255,0.5);
	-moz-box-shadow:inset 0 0 8px 4px rgba(255,255,255,0.5);
}

