body { background:#777;}
a img { border: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }

#statusbox{
	overflow:hidden;
	width:100%;
	height:48px;
	font-size:24px;
}
#loading, #error{
	display:none;
	position:absolute;
	left:48px;
	width:10em;
	height:48px;
	padding:8px 48px 8px 8px;
	margin-left:auto; margin-right:auto;
	text-align:center;
	vertical-align:middle;
	opacity: 0.7;
}
#loading{
	background:#eef url('loading.gif') no-repeat right center;
}
#error{
	background:#fdd;
}
#container {
	background:#fff;
	margin:32px;
	border:3px solid #fff;

}
#banner {
	background:#acf url('h.png') repeat-x top;
	padding:8px 32px 8px;
}
#banner h1, #banner h2{
	line-height:1em;
	margin-left:auto; margin-right:auto;
	text-align: center;
	padding:0;
}
#footer {
	background:#eee url('f.png') repeat-x bottom;
	color:#444;
	margin-left:auto; margin-right:auto;
	text-align: center;
	padding:24px;
}
#footer img {opacity: 0.5;}
#footer a:hover img {opacity: 1;}

#copyright {
	color:#aaa;
	margin-left:auto; margin-right:auto;
	text-align: center;
}
#copyright a {
	color:#efa;
	margin-left:auto; margin-right:auto;
	text-align: center;
}
#mainbox {padding:24px;}
#resultsbox {padding:24px}
table,th,td {border:none;border-collapse:collapse;}
table {
	margin-left:auto; margin-right:auto;
	text-align: center;
	width:80%;
	border:3px solid #ccc;
}
th,td{
	padding:3px 24px;
	background-color:#e0e0e0;
	border:3px solid #ccc;
	border-top: 0 none; border-bottom: 0 none;
}
th{ font-size:150%; color:#008;}
td { text-align: left; }
td:first-child{ text-align: right; }
tbody tr:nth-child(odd) td{ background-color:#eee; color:#222}

#btn {padding-left:16px; padding-right:16px}
